<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="${ctx}/resources/css/common/common-list.css"/>
<script type="text/javascript" src="${ctx}/resources/js/common/common-list.js"></script>
</head>
<body>

<div class="query-panel">
	<!--  <#--private String field;
	private String alias;
	private Class<?> type;
	private Object value;
	private String operator;
	private int extra;
	private boolean isParesed;
	 private String defaultValue="";
    private String inputType="TEXT";
    private String displayText;
    private String inputId;
    private String staticData;
    private Object parsedData;
    private String selectTextField;
    private String selectValueField="id";
    private Class<?> optionClass;
	-->-->
	<#assign conditions =queryConditions.conditions/>
	<#assign showSubmit=conditions?size gt 0/>
	<#list conditions as c>
		<div class="col-half">
			<label class="form-label">${c.displayText}
				<#if c.inputType=="TEXT">
					<#assign inputId=""/>
					<#if c.inputId??>
						<#assign inputId=c.inputId/>
					</#if>
					<input alias="${c.alias}" field="${c.field}" fieldType="${c.type.name}" operator="${c.operator}" ${inputId} type="text" value="${c.value!''}"/>
					<#elseif c.inputType=="SELECT"/>
					<select alias="${c.alias}" field="${c.field}" fieldType="${c.type.name}" operator="${c.operator}" ${inputId} type="text" >
						<option value="" ${(c.value??||c.value?size == 0)?string('selected','')}>-- 请选择 --</option>
						<#list c.parsedData as d>
							<option value="${d.value}" ${(c.value == d.value?string)?string('selected','')}>${d.text}</option>
						</#list>
					</select>
				</#if>
			</label>
		</div>
	</#list>
	<#if showSubmit>
		<div class="submitContainer button-group">
			<div class="button-default" id="submitQuery">查询</div>
			<div class="button-default" id="clearQuery">清空</div>
		</div>
	</#if>
</div>
<div class="data-panel">
	<!--  <#--	private String header;
	private String field;
	private String fromAlias;
	private String width;
	private String sortable;
	private boolean hidden=false;
	private String staticColumnData;
	private Class<?> filter;
	private String callback;-->-->
<#assign columns=pageDefinition.queryDefinition.columns/>
<table  border="0" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<#if pageDefinition.queryDefinition.showIndex??>
			<th >${pageDefinition.queryDefinition.showIndex}</th>
			</#if>
			<#list columns as column>
			<th field="${column.field}" fromAlias="${column.fromAlias}" ${(column.hidden)?string("hidden",(column.width??)?string("style=\"width:"+column.width+";\"",""))} ${column.sortable?string("sortable","")} ${mergedSort[column_index]}>${column.header!''}</th>
		</#list></tr>
	</thead>
	<tbody>
		<#list pageList as strarr>
		<tr>
			<#if pageDefinition.queryDefinition.showIndex??>
			<td>${strarr_index+1}</td>
			</#if>
			<#list strarr as str>
			<td>${str}</td>
			</#list>
		</tr>
		</#list>
	</tbody>
</table>
<#if pageList?size==0><div class="list-empty" colspan="255">列表空空如也、</div></#if>
<div id="pagerbar" class="pagerbar">
<gofrist class="${(queryConditions.page>1)?string('','disabled')}"></gofrist>
<goprev class="${(queryConditions.page>1)?string('','disabled')}"></goprev>
<input id="jump" type="number" value="${queryConditions.page}"/>/${totalPageCount}
<gonext class="${(queryConditions.page<totalPageCount)?string('','disabled')}"></gonext>
<golast class="${(queryConditions.page<totalPageCount)?string('','disabled')}"></golast>
<input type="hidden" id="totalPageCount" value="${totalPageCount}"/>
<input type="hidden" id="page" value="${queryConditions.page}"/>
<input type="hidden" id="pageSize" value="${queryConditions.pageSize}"/>
</div>
</div>	
</body>
</html>