<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="${ctx}/resources/css/common/common-list.css"/>
<script type="text/javascript" src="${ctx}/resources/js/common/common-list.js"></script>
</head>
<body>

<#assign columns=pageDefination.queryDefination.columns/>
<div class="query-panel">
	<!--  <#--private String field;
	private String alias;
	private Class<?> type;
	private Object value;
	private String operator;
	private int extra;
	private boolean isParesed;
	-->-->
	<#assign showSubmit=false/>
	<#list columns as c>
		<#if c.operation??&&c.operation.length gt 0>
			<#assign showSubmit=true/>
			<#if c.operation=="BETWEEN">
				<div class="col-full-line">
				</div>
				<#else/>
				<div class="col-half">
					<label class="form-label">${c.header}
						<input />
					</label>
				</div>
			</#if>
		</#if>
	</#list>
	<#if showSubmit>
		<div class="submitContainer button-group">
			<div class="button-default" id="submitQuery">查询</div>
			<div class="button-default" id="clearQuery">清空</div>
		</div>
	</#if>
</div>
<div class="data-panel">
	<!--  <#--	private String header;
	private String field;
	private String fromAlias;
	private String width;
	private String sortable;
	private boolean hidden=false;
	private String staticColumnData;
	private Class<?> filter;
	private String callback;-->-->
<table  border="0" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<#if pageDefination.queryDefination.showIndex??>
			<th >${pageDefination.queryDefination.showIndex}</th>
			</#if>
			<#list columns as column>
			<th field="${column.field}" fromAlias="${column.fromAlias}" ${(column.hidden)?string("hidden",(column.width??)?string("style=\"width:"+column.width+";\"",""))} ${column.sortable?string("sortable","")} ${mergedSort[column_index]}>${column.header!''}</th>
		</#list></tr>
	</thead>
	<tbody>
		<#list pageList as strarr>
		<tr>
			<#if pageDefination.queryDefination.showIndex??>
			<td>${strarr_index+1}</td>
			</#if>
			<#list strarr as str>
			<td>${str}</td>
			</#list>
		</tr>
		</#list>
	</tbody>
</table>
<#if pageList?size==0><div class="list-empty" colspan="255">列表空空如也、</div></#if>
<div id="pagerbar" class="pagerbar">
<gofrist class="${(queryConditions.page>1)?string('','disabled')}"></gofrist>
<goprev class="${(queryConditions.page>1)?string('','disabled')}"></goprev>
<input id="jump" type="number" value="${queryConditions.page}"/>/${totalPageCount}
<gonext class="${(queryConditions.page<totalPageCount)?string('','disabled')}"></gonext>
<golast class="${(queryConditions.page<totalPageCount)?string('','disabled')}"></golast>
<input type="hidden" id="totalPageCount" value="${totalPageCount}"/>
<input type="hidden" id="page" value="${queryConditions.page}"/>
<input type="hidden" id="pageSize" value="${queryConditions.pageSize}"/>
</div>
</div>	
</body>
</html>